<!doctype html>
<html>
<head>
	<title>{{Name}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

</head>

<body>

<<<<<<< HEAD
	<h1 style = "font-size:25; text-align: center">{{Name}}</h1>

	<p id = "flow" style = "font-size:15; text-align: center; width: 25%; margin: 0 auto;">
		{{Description}}
	</p>
	
<hr width = "60%" color = "blue" size = "5">

	<div id = "flow" style = "font-size:15; text-align: center; width: 25%; margin: 0 auto;">
		Compatability
		<br>
		{{Compatability}}
	</div>


=======
	<h1 style="text-align: center">{{Name}}</h1>

	<h2 id="flow" style="text-align: center; margin: 0 10px;">{{Description}}</h2>
>>>>>>> acf2af38b0c97f609cc61bad562c7002d11cebb0
		<a href="/mbti" class="btn btn-danger btn-lg btn-block">Back</a>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/flowtype.js"></script>
	<script>
<<<<<<< HEAD
	$("#flow").flowtype();
	minFont : 20,
	maxFont : 30
=======
		$("#flow").flowtype();
>>>>>>> acf2af38b0c97f609cc61bad562c7002d11cebb0
	</script>
</body>
</html>
